<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EcsRx" version="3.5.41" targetFramework="net472" />
  <package id="EcsRx.Infrastructure" version="3.5.41" targetFramework="net472" />
  <package id="EcsRx.Infrastructure.Ninject" version="3.5.41" targetFramework="net472" />
  <package id="EcsRx.MicroRx" version="3.5.41" targetFramework="net472" />
  <package id="EcsRx.Plugins.ReactiveSystems" version="3.5.41" targetFramework="net472" />
  <package id="EcsRx.Plugins.Views" version="3.5.41" targetFramework="net472" />
  <package id="Ninject" version="3.3.4" targetFramework="net472" />
</packages>